<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta charset="UTF-8">
<title>FS Projekti 1</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto+Slab&display=swap" rel="stylesheet">
<style>
  body { 
    padding-top:50px;
    background-color: #c6d6abe0;
}
  h5 {padding-top: 20px;}
  nav, .otsikko, .alateksti, h5 {font-family: 'DM Serif Display', serif;}
  table {
    width: 100%;
  }
  .formtieto1 {
    width: 30%;
    box-shadow: 2px 2px 2px#5a7233;
    outline: none;
  }
  .formtieto2 {
    width: 50%;
    box-shadow: 2px 2px 2px#5a7233;
    outline: none;
  }
  button {
      width: 20%;
      padding: 10px;
      border-radius: 20px;
      border: none;
      border-bottom: 4px solid #3e4f24;
      background: #5a7233; 
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      }

      .form-inner input, .form-inner textarea {
      padding: 10px;
      border: none;
      border-radius: 10px;
      background: #d8d8d7;
      }
      .form-inner textarea {
      resize: none;
      }

    .guestmessage {
        padding-bottom: 20px;
    }
      </style>